In [1]:
import pandas as pd
episodes = pd.read_csv('https://query.data.world/s/mmpctlzri3uiq3gzhfy6dg23nb3voc')

In [2]:
episodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 14 columns):
id                        600 non-null int64
image_url                 596 non-null object
imdb_rating               597 non-null float64
imdb_votes                597 non-null float64
number_in_season          600 non-null int64
number_in_series          600 non-null int64
original_air_date         600 non-null object
original_air_year         600 non-null int64
production_code           600 non-null object
season                    600 non-null int64
title                     600 non-null object
us_viewers_in_millions    594 non-null float64
video_url                 596 non-null object
views                     596 non-null float64
dtypes: float64(4), int64(5), object(5)
memory usage: 65.7+ KB

In [3]:
idx =  episodes[episodes['season'] == 28].index
episodes.drop(idx, axis = 0, inplace = True)

In [4]:
# episodes.sort_values(by='original_air_date')
episodes.production_code.is_unique

True

In [5]:
episodes[episodes.views.isna()]

,id,image_url,imdb_rating,imdb_votes,number_in_season,number_in_series,original_air_date,original_air_year,production_code,season,title,us_viewers_in_millions,video_url,views
189,447,NaN,6.7,543.0,6,447,2009-11-22,2009,LABF18,21,Pranks and Greens,7.03,NaN,NaN

In [6]:
season_8_mean_US_views = episodes[episodes['season'] == 8].us_viewers_in_millions.mean()
episodes.us_viewers_in_millions = episodes.us_viewers_in_millions.fillna(value = season_8_mean_US_views)

In [7]:
season_21_mean_views = episodes[episodes['season'] == 21].views.mean()
episodes.views = episodes.views.fillna(value = season_21_mean_views)

In [8]:
episodes.drop(columns = ['id','image_url','video_url','production_code','original_air_year'], inplace = True)

In [14]:
episodes.head(5)

,imdb_rating,imdb_votes,number_in_season,number_in_series,original_air_date,season,title,us_viewers_in_millions,views
0,7.4,1511,10,10,1990-03-25,1,Homer's Night Out,30.3,50816
1,8.3,1716,12,12,1990-04-29,1,Krusty Gets Busted,30.4,62561
2,8.2,1638,1,14,1990-10-11,2,"Bart Gets an ""F""",33.6,59575
3,8.1,1457,4,17,1990-11-01,2,Two Cars in Every Garage and Three Eyes on Eve...,26.1,64959
4,8.0,1366,6,19,1990-11-15,2,Dead Putting Society,25.4,50691

In [10]:
episodes.original_air_date = pd.to_datetime(episodes.original_air_date)

In [11]:
episodes.imdb_votes = episodes.imdb_votes.astype(int)
episodes.views = episodes.views.astype(int)

In [12]:
episodes.number_in_series.max()

596

In [15]:
episodes.sort_values(by = ['season','number_in_season','number_in_series'], inplace = True)

In [17]:
cols = ['season', 'number_in_season', 'number_in_series', 'title','original_air_date', 'us_viewers_in_millions','views','imdb_rating','imdb_votes']

In [18]:
episodes = episodes[cols]

In [22]:
with pd.ExcelWriter(r'C:\Users\kalya\Desktop\Study material\DATA CLEANING\Simpsons dataset\Simpsons_data.xlsx',
                    mode='a') as writer:  
    episodes.to_excel(writer, sheet_name='episodes', index = False)