In [1]:
import pandas as pd
characters = pd.read_csv('https://query.data.world/s/fzwghuindwtmxy6wnwjdq2tcgyf2y4')
characters.sort_values(by = 'id').head(5)

      id             name  normalized_name gender
70     1    Marge Simpson    marge simpson      f
6659   2    Homer Simpson    homer simpson      m
74     3  Seymour Skinner  seymour skinner      m
98     4            JANEY            janey      f
89     5    Todd Flanders    todd flanders      m

In [2]:
characters.gender.value_counts(dropna = False)

NaN    6399
m       252
f        71
Name: gender, dtype: int64

# Populating genders

In [3]:
def gender_role(x):
    
    f = 'mrs','madam','miss','lady','female','ms','mother','aunt','wife','waitress','lady','daughter','mom','sister','woman','women','girl'
    m = 'boy','father','uncle','husband','male','waiter','guy','son','mr','dad','brother','man','men'

    if any(i in x for i in f):
        return 'Female'
    if any(i in x for i in m):
        return 'Male'
    else: return 'Unknown'

In [4]:
characters['populated_gender'] = characters.normalized_name.map(gender_role)

characters['gender'] = characters.gender.map({'f': 'Female', 'm':'Male'})
characters.gender.fillna(characters['populated_gender'],inplace = True)

del characters['populated_gender']

characters.gender.value_counts(dropna = False)

Unknown    4845
Male       1298
Female      579
Name: gender, dtype: int64

In [8]:
characters.sort_values(by = 'id', inplace = True)

In [9]:
with pd.ExcelWriter(r'C:\Users\kalya\Desktop\Study material\DATA CLEANING\Simpsons dataset\Simpsons_data.xlsx',
                    mode='a') as writer:  
    characters.to_excel(writer, sheet_name='characters', index = False)