In [78]:
import pandas as pd
characters = pd.read_csv('https://query.data.world/s/fzwghuindwtmxy6wnwjdq2tcgyf2y4')
characters.sort_values(by = 'id').head(5)

In [80]:
characters.gender.value_counts(dropna = False)

NaN    6399
m       252
f        71
Name: gender, dtype: int64

# Populating genders

In [81]:
def gender_role(x):
    
    f = 'mrs','madam','miss','lady','female','ms','mother','aunt','wife','waitress','lady','daughter','mom','sister','woman','women','girl'
    m = 'boy','father','uncle','husband','male','waiter','guy','son','mr','dad','brother','man','men'

    if any(i in x for i in f):
        return 'Female'
    if any(i in x for i in m):
        return 'Male'
    else: return 'Unknown'

In [86]:
characters['populated_gender'] = characters.normalized_name.map(gender_role)

characters['gender'] = characters.gender.map({'f': 'Female', 'm':'Male'})
characters.gender.fillna(characters['populated_gender'],inplace = True)

del characters['populated_gender']

characters.gender.value_counts(dropna = False)

In [89]:
characters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6722 entries, 0 to 6721
Data columns (total 4 columns):
id                 6722 non-null int64
name               6722 non-null object
normalized_name    6722 non-null object
gender             6722 non-null object
dtypes: int64(1), object(3)
memory usage: 210.1+ KB