In [1]:
import pandas as pd
locations = pd.read_csv('https://query.data.world/s/nblejp7vmp4g77frrp5svcar7buxcq')

In [4]:
locations.head(5)

   id                           name                normalized_name
0   1                         Street                         street
1   2                            Car                            car
2   3  Springfield Elementary School  springfield elementary school
3   4                     Auditorium                     auditorium
4   5                   Simpson Home                   simpson home

In [5]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Data columns (total 3 columns):
id                 4459 non-null int64
name               4459 non-null object
normalized_name    4459 non-null object
dtypes: int64(1), object(2)
memory usage: 104.6+ KB